<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title>
            <%= htmlWebpackPlugin.options.title%>
        </title>
    </head>
    <body>
    <%= require('html-loader!./layout/nav.html')  %>
    <%= require('html-loader!./layout/header.html')  %>
    </body>
    <body1>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">YeMall</a>
                    <span> -> </span>
                    <span class="link-text">
                        关于pipikai
                        <!-- <%= htmlWebpackPlugin.options.title%></span> -->
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <div class="panel">
                <h1 class="panel-title">一个简洁的个人电商学习项目</h1>
                <div class="panel-body">前端（
                    <a class="link"  href="http://www.pipikai.xin" target="_blank">www.pipikai.xin</a>
                ）-基于JQuery+CSS </div>
                <!-- <div class="panel-body">前端admin（
                    <a class="link"  href="http://admin.pipikai.xin" target="_blank">admin.pipikai.xin</a>
                ) - 基于React+Sass - (默认管理员账号admin，密码admin) </div> -->
                <div class="panel-body">后端 - 基于Spring+SpringMVC+Mybatis 阿里云单服务器</div>
                <div class="panel-body">
                    源码 -
                    <a class="link"  href="https://github.com/wanzhangkai" target="_blank">Github</a>
                </div>
                <div class="panel-body">
                    简历 -
                     <a class="link"  href="http://img.pipikai.xin/97376e51-5ed8-4f7c-913d-91997b86f03e.pdf" target="_blank">pipikai</a>
                </div>
                <div class="panel-body">邮箱 - wanzhangkai@foxmail.com</div>

            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body1>
</html>