<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">Sign in</span>
                <!-- <span class="link js-register">Sign up</span> -->
            </span>
            <span class="user login">
                <span class="link-text">
                    欢迎，
                    <span class="username"></span>
                </span>
                <span class="link js-logout">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    Cart(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">Account&Lists</a>
            </li>
            <!-- <li class="nav-item">
                <a class="link" href="./about.html">关于YeMall</a>
            </li> -->
        </ul>
    </div>
</div>