<div class="top">
    <div class="w">
        <p class="copyright">
            注意：本网站仅供pipikai个人学习使用，商品均为虚拟，且不会产生任何交易。
        </p>

        <div class="links">
            关于
            <a class="link"  href="./about.html" target="_blank">pipikai</a>
            - Fork on
            <a class="link"  href="https://github.com/wanzhangkai" target="_blank">Github</a>
        </div>

    </div>
</div>


<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>